<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ad_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,688},{100,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,213}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>ad_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1103},{149,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,213}}</string>
                <key>sourceSize</key>
                <string>{149,213}</string>
            </dict>
            <key>ad_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,887},{150,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,214}}</string>
                <key>sourceSize</key>
                <string>{150,214}</string>
            </dict>
            <key>ad_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,309},{437,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,168}}</string>
                <key>sourceSize</key>
                <string>{437,168}</string>
            </dict>
            <key>ad_box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,202},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,41}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
            <key>ad_box_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,705},{71,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,73}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>ad_box_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,734},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>ad_box_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,244},{24,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,67}}</string>
                <key>sourceSize</key>
                <string>{24,67}</string>
            </dict>
            <key>ad_box_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,514},{114,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,31}}</string>
                <key>sourceSize</key>
                <string>{114,31}</string>
            </dict>
            <key>ad_skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,816},{199,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,38}}</string>
                <key>sourceSize</key>
                <string>{199,38}</string>
            </dict>
            <key>award_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,631},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>award_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,191},{438,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,168}}</string>
                <key>sourceSize</key>
                <string>{438,168}</string>
            </dict>
            <key>award_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,903},{109,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,116}}</string>
                <key>sourceSize</key>
                <string>{109,116}</string>
            </dict>
            <key>award_permanent.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,932},{197,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,51}}</string>
                <key>sourceSize</key>
                <string>{197,51}</string>
            </dict>
            <key>award_person.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,776},{217,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,326}}</string>
                <key>sourceSize</key>
                <string>{217,326}</string>
            </dict>
            <key>award_shut_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,123},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>award_super_preferential.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{542,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,86}}</string>
                <key>sourceSize</key>
                <string>{542,86}</string>
            </dict>
            <key>award_txt_preferential.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{687,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,45}}</string>
                <key>sourceSize</key>
                <string>{687,45}</string>
            </dict>
            <key>game_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,313},{14,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,41}}</string>
                <key>sourceSize</key>
                <string>{14,41}</string>
            </dict>
            <key>game_arrow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1110},{125,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,50}}</string>
                <key>sourceSize</key>
                <string>{125,50}</string>
            </dict>
            <key>game_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,480},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>game_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1286},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>game_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,366},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,45}}</string>
                <key>sourceSize</key>
                <string>{34,45}</string>
            </dict>
            <key>game_suspend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,776},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
            <key>game_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,178},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>other_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,278},{100,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,213}}</string>
                <key>sourceSize</key>
                <string>{100,213}</string>
            </dict>
            <key>other_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,778},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>other_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,1073},{149,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,213}}</string>
                <key>sourceSize</key>
                <string>{149,213}</string>
            </dict>
            <key>other_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,601},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>other_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1879,671},{150,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,214}}</string>
                <key>sourceSize</key>
                <string>{150,214}</string>
            </dict>
            <key>other_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,531},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>other_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,897},{230,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,50}}</string>
                <key>sourceSize</key>
                <string>{230,50}</string>
            </dict>
            <key>other_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,707},{173,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,50}}</string>
                <key>sourceSize</key>
                <string>{173,50}</string>
            </dict>
            <key>other_round_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,178},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>other_round_rad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,178},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>other_round_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,178},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,6}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>person.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1224},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>rank_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,479},{418,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,150}}</string>
                <key>sourceSize</key>
                <string>{418,150}</string>
            </dict>
            <key>rank_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,611},{243,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,57}}</string>
                <key>sourceSize</key>
                <string>{243,57}</string>
            </dict>
            <key>rank_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,761},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>rank_gy.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,573},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>rank_jj.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,493},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>rank_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,123},{767,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,119}}</string>
                <key>sourceSize</key>
                <string>{767,119}</string>
            </dict>
            <key>rank_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,531},{322,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,78}}</string>
                <key>sourceSize</key>
                <string>{322,78}</string>
            </dict>
            <key>results_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,759},{301,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,152}}</string>
                <key>sourceSize</key>
                <string>{301,152}</string>
            </dict>
            <key>results_box_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1122},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,90}}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>results_box_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1021},{99,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,100}}</string>
                <key>sourceSize</key>
                <string>{99,100}</string>
            </dict>
            <key>results_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{828,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{828,151}}</string>
                <key>sourceSize</key>
                <string>{828,151}</string>
            </dict>
            <key>results_line1_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,244},{475,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,63}}</string>
                <key>sourceSize</key>
                <string>{475,63}</string>
            </dict>
            <key>results_line1_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,713},{330,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,61}}</string>
                <key>sourceSize</key>
                <string>{330,61}</string>
            </dict>
            <key>results_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{828,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{828,119}}</string>
                <key>sourceSize</key>
                <string>{828,119}</string>
            </dict>
            <key>results_line2_best_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,126},{379,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,50}}</string>
                <key>sourceSize</key>
                <string>{379,50}</string>
            </dict>
            <key>results_line2_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,996},{206,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,50}}</string>
                <key>sourceSize</key>
                <string>{206,50}</string>
            </dict>
            <key>results_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,413},{65,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,33}}</string>
                <key>sourceSize</key>
                <string>{65,33}</string>
            </dict>
            <key>share_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,361},{437,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,168}}</string>
                <key>sourceSize</key>
                <string>{437,168}</string>
            </dict>
            <key>share_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,123},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>share_con.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{644,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{644,74}}</string>
                <key>sourceSize</key>
                <string>{644,74}</string>
            </dict>
            <key>share_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,611},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>share_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{506,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,506}}</string>
                <key>sourceSize</key>
                <string>{506,506}</string>
            </dict>
            <key>share_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,490},{242,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,55}}</string>
                <key>sourceSize</key>
                <string>{242,55}</string>
            </dict>
            <key>share_txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,787},{207,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,51}}</string>
                <key>sourceSize</key>
                <string>{207,51}</string>
            </dict>
            <key>skin_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,949},{223,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,122}}</string>
                <key>sourceSize</key>
                <string>{223,122}</string>
            </dict>
            <key>skin_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,1224},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>skin_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1110},{189,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,189}}</string>
                <key>sourceSize</key>
                <string>{189,189}</string>
            </dict>
            <key>skin_shut.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,653},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>skin_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{380,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,122}}</string>
                <key>sourceSize</key>
                <string>{380,122}</string>
            </dict>
            <key>skin_unlock_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,155},{139,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,62}}</string>
                <key>sourceSize</key>
                <string>{139,62}</string>
            </dict>
            <key>start_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,504},{248,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,149}}</string>
                <key>sourceSize</key>
                <string>{248,149}</string>
            </dict>
            <key>start_box_rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,684},{186,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,26}}</string>
                <key>sourceSize</key>
                <string>{186,26}</string>
            </dict>
            <key>start_box_rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,1237},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>start_box_shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,361},{156,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,26}}</string>
                <key>sourceSize</key>
                <string>{156,26}</string>
            </dict>
            <key>start_box_shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,630},{27,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,52}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>start_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1214},{83,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,94}}</string>
                <key>sourceSize</key>
                <string>{83,94}</string>
            </dict>
            <key>start_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,232},{473,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,179}}</string>
                <key>sourceSize</key>
                <string>{473,179}</string>
            </dict>
            <key>start_model_classic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,244},{258,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,266}}</string>
                <key>sourceSize</key>
                <string>{258,266}</string>
            </dict>
            <key>start_model_coming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,883},{225,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,233}}</string>
                <key>sourceSize</key>
                <string>{225,233}</string>
            </dict>
            <key>start_model_obstacles.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,655},{226,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,233}}</string>
                <key>sourceSize</key>
                <string>{226,233}</string>
            </dict>
            <key>start_model_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,670},{225,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,233}}</string>
                <key>sourceSize</key>
                <string>{225,233}</string>
            </dict>
            <key>start_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1299},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>start_set_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1318},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>start_set_voice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,1315},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>start_set_voice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1314},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>suspended_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,631},{342,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,80}}</string>
                <key>sourceSize</key>
                <string>{342,80}</string>
            </dict>
            <key>suspended_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,309},{179,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,36}}</string>
                <key>sourceSize</key>
                <string>{179,36}</string>
            </dict>
            <key>suspended_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,872},{129,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,36}}</string>
                <key>sourceSize</key>
                <string>{129,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_view.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1504f970fd3357624221e9eebaa0f1bd:1/1$</string>
            <key>textureFileName</key>
            <string>ui_view.png</string>
        </dict>
    </dict>
</plist>
