<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_arm_on1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,317},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>game_arm_on2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,261},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>game_arm_on3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,261},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>game_arm_on4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,205},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>game_arm_on5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,205},{54,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,14}}</string>
                <key>sourceSize</key>
                <string>{54,14}</string>
            </dict>
            <key>game_arm_under1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,134},{69,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,17}}</string>
                <key>sourceSize</key>
                <string>{69,17}</string>
            </dict>
            <key>game_arm_under2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,274},{69,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,17}}</string>
                <key>sourceSize</key>
                <string>{69,17}</string>
            </dict>
            <key>game_arm_under3.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,221},{69,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,17}}</string>
                <key>sourceSize</key>
                <string>{69,17}</string>
            </dict>
            <key>game_arm_under4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,203},{69,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,17}}</string>
                <key>sourceSize</key>
                <string>{69,17}</string>
            </dict>
            <key>game_arm_under5.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,132},{69,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,17}}</string>
                <key>sourceSize</key>
                <string>{69,17}</string>
            </dict>
            <key>game_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,744},{61,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,144}}</string>
                <key>sourceSize</key>
                <string>{61,144}</string>
            </dict>
            <key>game_p10.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,807},{63,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,141}}</string>
                <key>sourceSize</key>
                <string>{63,141}</string>
            </dict>
            <key>game_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,744},{61,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,143}}</string>
                <key>sourceSize</key>
                <string>{61,143}</string>
            </dict>
            <key>game_p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{66,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,147}}</string>
                <key>sourceSize</key>
                <string>{66,147}</string>
            </dict>
            <key>game_p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,798},{61,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,144}}</string>
                <key>sourceSize</key>
                <string>{61,144}</string>
            </dict>
            <key>game_p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{64,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,156}}</string>
                <key>sourceSize</key>
                <string>{64,156}</string>
            </dict>
            <key>game_p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,798},{87,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,147}}</string>
                <key>sourceSize</key>
                <string>{87,147}</string>
            </dict>
            <key>game_p7.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,947},{63,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,142}}</string>
                <key>sourceSize</key>
                <string>{63,142}</string>
            </dict>
            <key>game_p8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,263},{62,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,148}}</string>
                <key>sourceSize</key>
                <string>{62,148}</string>
            </dict>
            <key>game_p9.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,798},{62,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,145}}</string>
                <key>sourceSize</key>
                <string>{62,145}</string>
            </dict>
            <key>game_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,132},{87,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,18}}</string>
                <key>sourceSize</key>
                <string>{87,18}</string>
            </dict>
            <key>skin_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,612},{130,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,247}}</string>
                <key>sourceSize</key>
                <string>{130,247}</string>
            </dict>
            <key>skin_p10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,345},{133,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,247}}</string>
                <key>sourceSize</key>
                <string>{133,247}</string>
            </dict>
            <key>skin_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{130,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,252}}</string>
                <key>sourceSize</key>
                <string>{130,252}</string>
            </dict>
            <key>skin_p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{130,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,247}}</string>
                <key>sourceSize</key>
                <string>{130,247}</string>
            </dict>
            <key>skin_p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,480},{130,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,247}}</string>
                <key>sourceSize</key>
                <string>{130,247}</string>
            </dict>
            <key>skin_p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,284}}</string>
                <key>sourceSize</key>
                <string>{130,284}</string>
            </dict>
            <key>skin_p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{172,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,259}}</string>
                <key>sourceSize</key>
                <string>{172,259}</string>
            </dict>
            <key>skin_p7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{132,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,248}}</string>
                <key>sourceSize</key>
                <string>{132,248}</string>
            </dict>
            <key>skin_p8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{132,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,246}}</string>
                <key>sourceSize</key>
                <string>{132,246}</string>
            </dict>
            <key>skin_p9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{130,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,247}}</string>
                <key>sourceSize</key>
                <string>{130,247}</string>
            </dict>
            <key>skin_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{128,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,41}}</string>
                <key>sourceSize</key>
                <string>{128,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_skin.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df9fd1d7f885b55d51f68e815aa325ca:1/1$</string>
            <key>textureFileName</key>
            <string>ui_skin.png</string>
        </dict>
    </dict>
</plist>
