<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ribbon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,139},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>ribbon10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{72,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,54}}</string>
                <key>sourceSize</key>
                <string>{72,54}</string>
            </dict>
            <key>ribbon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>ribbon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,119},{50,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,18}}</string>
                <key>sourceSize</key>
                <string>{50,18}</string>
            </dict>
            <key>ribbon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,41},{48,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,43}</string>
            </dict>
            <key>ribbon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>ribbon5.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,175},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>ribbon6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>ribbon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,139},{15,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,26}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
            <key>ribbon8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{73,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,56}}</string>
                <key>sourceSize</key>
                <string>{73,56}</string>
            </dict>
            <key>ribbon9.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,91},{26,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,48}}</string>
                <key>sourceSize</key>
                <string>{26,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_anim.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2932d559b84c2ad4dc13b0e88eb2c56f:1/1$</string>
            <key>textureFileName</key>
            <string>ui_anim.png</string>
        </dict>
    </dict>
</plist>
